#mapid { 
	height: 100vh;
}

#rdr-bar {
	z-index: 1000;
	background-color: rgba( 255, 255, 255, 1  );
	position: fixed;
    	bottom: 0;
    	width: 100%;
	padding-bottom: 10px;
}

#rdr-bar img {
	height: 20%;
	/*width: 20%;*/
}

#ranger-pic {
	width: 23%;
}

#daves-pic, #radar-pic {
	width: 20%;
}

#alert-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b597;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 10px;
}

#alert-btn:hover {background-color: #ff9704}

#alert-btn:active {
  background-color: #ff9704;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
