
#rangerButton{
  position: fixed;
  z-index: 2;
  bottom: 0;
  margin-bottom: 3vh;
  width: 100%;
}

#rangerTitle{
  position: fixed;
  width: 89%;
  left: 50%;
transform: translateX(-50%);
}

#mapid { 
	height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#titlething {
  width: 89%;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#alert-btn {
  font-family: 'Roboto', thin;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b597;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 10px;
}

#alert-btn:hover {background-color: #ff9704}

#alert-btn:active {
  background-color: #ff9704;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#ranger-dave {
    position: relative;
    display: inherit;
    z-index: -1;
    width: 215px;
    top: 15px;
}

#med-form-container {
	position: fixed;
	padding: 0;
	margin: 0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

#med-form {
	position: relative;
	padding: 20px;
	width:auto;
	max-width: 80%;
	margin: 20px auto;
	top: 7%; /*for phones 30vh*/
}


